# Ignore node_modules
node_modules/

# Ignore result folder
deviant-art-assets/
backups/
description-classified/
results-*/

# .gitignore
.env.sh
.env

# Ignore all .DS_Store files
.DS_Store
# Ignore all .log files
*.log
# Ignore all .tmp files
*.tmp

